version: 0.1
log:
  level: <%= @log_level %>
  formatter: <%= @log_formatter %>
  fields:
    service: registry
    environment: production
storage: <%= @storage.to_json %>
http:
  addr: <%= @registry_http_addr %>
  secret: "<%= @http_secret %>"
  headers:
    X-Content-Type-Options: [nosniff]
  <% if @debug_addr %>
  debug:
    addr: <%= @debug_addr %>
  <% end %>
health:
  storagedriver:
    enabled: <%= @health_storagedriver_enabled %>
    interval: 10s
    threshold: 3
auth:
  token:
    realm: <%= @token_realm %>/jwt/auth
    service: container_registry
    issuer: <%= @registry_issuer %>
    rootcertbundle: <%= @rootcertbundle %>
validation:
  disabled: true
<% if @notifications %>
notifications:
  endpoints: <%= @notifications.to_json %>
<% end %>
